* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  cursor: default;
  height: 100vh;
  background-color: rgb(41, 44, 49);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

input {
  outline: none;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 9%;
  background-color: rgb(41, 44, 49);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo i {
  font-size: 1.7rem;
  height: 100%;
  margin-top: 0.3rem;
}

.logo_text {
  margin-left: 0.7rem;
}

.header_buttons {
  display: flex;
  flex-direction: row;
}

.imgLoaderBox {
  border-radius: 1rem;
  background-color: rgb(155, 216, 240);
  cursor: pointer;
}

.download {
  width: 7rem;
  height: 3rem;
  margin-left: 2rem;
  border-radius: 1rem;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 3rem;
}

.imgLoaderBox {
  width: 7rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgLoader {
  display: none;
}

.main {
  width: 100%;
  height: 84%;
  display: flex;
  flex-direction: row;
}

.canvas_info {
  width: 10%;
  height: 100%;
  background-color: rgb(41, 44, 49);
  border-right: 1px solid black;
  color: white;
  z-index: 1;
}

.canvas_size {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.canvas_size_title {
  margin: 1rem 0.2rem 0.5rem 0.2rem;
}

.canvas_size_width_name,
.canvas_size_height_name {
  margin: 0 0.45rem 0.2rem 0.2rem;
}

.canvas_width,
.canvas_height {
  width: 65%;
  cursor: text;
}

.canvas_size_button {
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 1.4rem;
  font-size: 1rem;
  font-weight: 600;
}

.middle {
  width: 77%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas_section {
  padding: 0;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas_box {
  width: 1000px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 23, 25);
}

.buttons {
  width: 70%;
  height: 20%;
  background-color: rgb(41, 44, 49);
  color: white;
  display: flex;
  flex-direction: row;
}

.buttons_filter {
  width: 25%;
  height: 90%;
  padding: 0.5rem 1rem 0.5rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter_name {
  width: 4rem;
}

.buttons_range {
  width: 50%;
  height: 90%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter_box.gammaBox {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 0.5rem;
}

.filter_name.gamma {
  width: 100%;
}

.gamma_name {
  font-size: 1.2rem;
  margin-left: 1.5rem;
}

.buttons_color {
  width: 25%;
  height: 90%;
  padding: 0.5rem 0 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.source_image {
  width: 13%;
  height: 100%;
  background-color: rgb(41, 44, 49);
  color: white;
  border-left: 1px solid black;
  z-index: 1;
}

.footer {
  width: 100%;
  height: 7%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 30, 32);
  border-top: 1px solid black;
}

.footer_button {
  width: 5%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  margin: 0 0.5rem;
  cursor: pointer;
}
