* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  cursor: default;
  height: 100vh;
  background-color: rgb(41, 44, 49);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  width: 100%;
  flex-basis: 9%;
  background-color: rgb(29, 30, 32);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo i {
  font-size: 1.7rem;
  height: 100%;
  margin-top: 0.3rem;
}

.logo_text {
  margin-left: 0.7rem;
}

.header_buttons {
  display: flex;
  flex-direction: row;
}

.imgLoaderBox {
  border-radius: 1rem;
  background-color: rgb(155, 216, 240);
  cursor: pointer;
}

.download {
  width: 7rem;
  height: 3rem;
  margin-left: 2rem;
  border-radius: 1rem;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 3rem;
}

.imgLoaderBox {
  width: 7rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgLoader {
  display: none;
}

.canvas.lower-canvas,
.upper-canvas.canvas {
  margin: 0;
}

.canvas_section {
  flex-basis: 70%;
  display: flex;
  align-items: center;
}

.canvas_box {
  width: 1000px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 23, 25);
}

.buttons {
  width: 70%;
  flex-basis: 15%;
  background-color: rgb(41, 44, 49);
  color: white;
  display: flex;
  flex-direction: row;
}

.buttons_filter {
  width: 25%;
}

.filter_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter_name {
  width: 3rem;
}

.divider {
  width: 1px;
  height: 80%;
  background-color: lightgray;
  margin: 0 1rem;
}

.buttons_range {
  width: 50%;
}

.buttons_color {
  width: 25%;
}

.footer {
  width: 100%;
  flex-basis: 6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 30, 32);
}

.footer_button {
  width: 5%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  margin: 0 1rem;
  cursor: pointer;
}
